html, body 
{
	margin: 0;
	height: 100%;
	color: #999;
	font-family: verdana, arial, sans-serif;
}
a 
{
	color: #999;
	text-decoration: none;
}
a:hover
{
	color: #666;
}
img
{
	border-style: none !important;
}

#content-table td
{
	width: 180px;
	vertical-align: top;
	font-size: 9pt;
	text-align: left;
}

#main-cell
{
	border: 1px #aaa dashed;
	padding: 0px;
}

#main-cell a
{
	color: #333;
}

#main-cell a:hover
{
    color: black;
}

#main-cell h1
{
	margin: 0px;
	padding: 5px;
	color: black;
}

#main-cell p
{
	padding: 0px 10px 0px 10px;
}